.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 1.5em;
}

.Description {
  font-size: .8em;
  text-align: center;
}

.Chart-area {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Histogram {
  height: 500px;
  flex: 1;
  min-width: 500px;
  overflow: hidden;
}

.Map {
  height: 500px;
  flex: 1;
  min-width: 500px;
  overflow: hidden;
}




